 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/fmin.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1117px;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  min-height: 343px;
  margin-top: 623px;
  margin-bottom: -54px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  width: 766px;
  height: auto;
  min-height: 262px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 729px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 262px;
  background-image: url("images/Untitled_design-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 262px;
}

.u-section-1 .u-container-layout-4 {
  padding: 27px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.0625rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 660px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-1 .u-image-1 {
    min-height: 251px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    min-height: 742px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 647px;
    margin-top: 558px;
    margin-bottom: -88px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 531px;
    margin-top: 97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 898px;
}

.u-section-2 .u-group-1 {
  min-height: 703px;
  height: auto;
  width: 1010px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
  margin: 156px auto 39px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  text-shadow: 0px -2px 8px rgba(189,238,191,1);
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  border-style: solid;
  margin: 30px auto 0;
  padding: 15px 56px 17px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    --bottom-right-radius: 30px;
    --bottom-left-radius: 30px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: 115px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1840px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 158px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1106px;
}

.u-section-3 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 89px;
  margin-bottom: -101px;
}

.u-section-3 .u-repeater-1 {
  min-height: 917px;
  grid-template-columns: repeat(3, calc(33.3333% - 44.6667px));
  grid-auto-columns: calc(33.3333% - 44.6667px);
  grid-gap: 67px;
}

.u-section-3 .u-list-item-1 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-icon-1 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(#f5f7fa, #d9efda);
  margin: -50px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-3 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-4 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 17px 19px 0 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-icon-2 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(#f5f7fa, #d9efda);
  margin: -50px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-5 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 17px 19px 0 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px 26px;
}

.u-section-3 .u-icon-3 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(#f5f7fa, #d9efda);
  margin: -50px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-7 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 17px 19px 0 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px 26px;
}

.u-section-3 .u-icon-4 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(#f5f7fa, #d9efda);
  margin: -50px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-9 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 17px 19px 0 0;
}

.u-section-3 .u-list-item-5 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px 26px;
}

.u-section-3 .u-icon-5 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(#f5f7fa, #d9efda);
  margin: -50px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-11 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 17px 19px 0 0;
}

.u-section-3 .u-list-item-6 {
  --radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px 26px;
}

.u-section-3 .u-icon-6 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(#f5f7fa, #d9efda);
  margin: -50px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-13 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 17px 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 44.6667px));
    grid-auto-columns: calc(33.333333333333336% - 44.6667px);
    min-height: 748px;
  }

  .u-section-3 .u-list-item-1 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-icon-1 {
    padding: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-list-item-2 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-list-item-3 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-list-item-4 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-list-item-5 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-list-item-6 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 33.500025px));
    grid-auto-columns: calc(50% - 33.500025px);
    min-height: 1375px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.5rem;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before,
.u-section-3 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-6,
.u-section-3 .u-list-item-6:before,
.u-section-3 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-4 {
  min-height: 1493px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 119px 50px 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 767px;
  margin: 9px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 47px;
}

.u-section-4 .u-image-1 {
  min-height: 736px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 26px;
  background-image: url("images/129464811_672974593384343_519560587508741881_n.jpg");
  background-position: 50% 50%;
  background-size: auto 145%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/IMG-20240911-WA0023.jpg");
  min-height: 398px;
  background-position: 50% 50%;
  --radius: 16px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 398px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: url("images/122411344_726436781283687_593222819789461517_n.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 338px;
  --radius: 30px;
  background-image: url("images/280707493_513586447182440_4110441101956909230_n.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 338px;
  background-image: url("images/IMG-20240911-WA0021.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  min-height: 414px;
  --radius: 30px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  background-image: url("images/122147921_360650678615947_3564010940284639394_n.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-7 {
  min-height: 414px;
  background-image: url("images/IMG-20240911-WA0031.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1311px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 479px;
  }

  .u-section-4 .u-image-1 {
    min-height: 607px;
  }

  .u-section-4 .u-image-2 {
    min-height: 328px;
    --radius: 30px;
  }

  .u-section-4 .u-image-3 {
    min-height: 328px;
  }

  .u-section-4 .u-image-4 {
    min-height: 279px;
  }

  .u-section-4 .u-image-5 {
    min-height: 279px;
    --radius: 30px;
  }

  .u-section-4 .u-image-6 {
    min-height: 341px;
  }

  .u-section-4 .u-image-7 {
    min-height: 341px;
    --radius: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1101px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 465px;
  }

  .u-section-4 .u-image-2 {
    min-height: 251px;
  }

  .u-section-4 .u-image-3 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    min-height: 214px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-5 {
    min-height: 214px;
  }

  .u-section-4 .u-image-6 {
    min-height: 261px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-7 {
    min-height: 261px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2967px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 1046px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 565px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 565px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    min-height: 482px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    min-height: 482px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    min-height: 587px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-7 {
    min-height: 465px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2133px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 659px;
  }

  .u-section-4 .u-image-2 {
    min-height: 356px;
  }

  .u-section-4 .u-image-3 {
    min-height: 356px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    min-height: 303px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 303px;
  }

  .u-section-4 .u-image-6 {
    min-height: 370px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    min-height: 293px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 84px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 20px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 412px;
  --radius: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 1px 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: normal;
  border-style: solid;
  text-transform: uppercase;
  margin: 30px auto 0 1px;
  padding: 15px 56px 17px 55px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 328px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-5 .u-image-1 {
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 599px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-5 .u-image-1 {
    height: 369px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 277px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 648px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 15px 56px 17px 55px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 485px;
  --radius: 30px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-6 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 706px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-6 .u-image-1 {
    height: 434px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 304px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 412px;
  --radius: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 30px 1px 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  border-style: solid;
  margin: 30px auto 0 1px;
  padding: 15px 56px 17px 55px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    height: 328px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-7 .u-image-1 {
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 599px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-7 .u-image-1 {
    height: 369px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/IMG-20240911-WA0007.jpg');
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 718px;
}

.u-section-8 .u-text-1 {
  text-shadow: 2px 2px 14px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  margin: 140px 0 0;
}

.u-section-8 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 692px;
  margin: 169px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 98px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px;
}

.u-section-8 .u-btn-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  border-style: solid;
  font-size: 1.125rem;
  --radius: 50px;
  background-image: none;
  margin: 0 auto;
  padding: 18px 43px 20px 41px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 98px;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px;
}

.u-section-8 .u-btn-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  border-style: solid;
  font-size: 1.125rem;
  --radius: 50px;
  margin: 0 auto;
  padding: 17px 70px 19px 69px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-8 .u-text-1 {
    width: 898px;
  }

  .u-section-8 .u-text-2 {
    width: 760px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 200px;
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 230px;
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 77px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 685px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  font-style: italic;
  width: 894px;
  margin: 20px auto 0;
}

.u-section-9 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 60px;
}

.u-section-9 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-9 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-9 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-9 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-9 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-9 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-9 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-9 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-9 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-9 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-9 .u-text-7 {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    width: 720px;
  }

  .u-section-9 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-accordion-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-accordion-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 741px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 215px;
  height: 215px;
  margin: 0 auto;
}

.u-section-10 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-3 {
  margin: 17px auto 0 0;
}

.u-section-10 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 132px;
  min-width: 68px;
  white-space: nowrap;
  margin: 28px 295px 0 0;
}

.u-section-10 .u-icon-1 {
  height: 35px;
}

.u-section-10 .u-icon-2 {
  height: 31px;
}

.u-section-10 .u-icon-3 {
  height: 31px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 741px;
  --radius: 30px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-10 .u-text-4 {
  margin: 0 auto;
}

.u-section-10 .u-form-1 {
  height: 426px;
  width: 499px;
  margin: 30px auto 0;
}

.u-section-10 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-10 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-10 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-10 .u-btn-5 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  width: 100%;
  padding: 18px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-10 .u-form-1 {
    width: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-form-1 {
    height: 430px;
    width: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-10 .u-form-1 {
    width: 259px;
    margin-right: 11px;
    margin-left: 0;
  }
}.glass-ui {
  background: rgba(76, 175, 80, 0.45); /* Primary Green with 45% opacity */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  padding: 20px;
  color: white; /* Text color for contrast */
}
.glass-wh {
  background: rgba(76, 175, 80, 0.45);
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 